<div id="navigationBar">
  <%= link_to "Home", home_index_path %> >
  About
</div>
<div id="content" class="clearfix">
  <h3>About</h3>

  <p>Tu będzie info o stronie kontakty itp.</p>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>

