<div id="navigationBar">
  <%= link_to "Home", home_index_path %> >
  FAQ
</div>
<div id="content" class="clearfix">
  <h3>FAQ</h3>

  <p>Q: Will You ever update this section?</p>

  <p>A: Nope.</p>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
