<div id="navigationBar">
  <%= link_to "Home", home_path %> >
  FAQ
</div>
<div id="content" class="clearfix">
  <h3>FAQ</h3>

  <p>Tu będzie FAQ.</p>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
