<div id="navigationBar">
  Home
</div>
<div id="content" class="clearfix">
  <h3>Home</h3>

  <p>Tu będzie tekst powitalny czy coś w tym guście.</p>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>
