<%= form_tag search_invitations_path(@project.url_name), method: :get do %>
  <div class="field">
    <%= label_tag :search, "Invite new member" %><br />
    <%= text_field_tag :search, params[:search] %>
  </div>
  <div class="field"><%= submit_tag "Search" %></div>
<% end %>