<div id="navigationBar">
  Login | <%= link_to 'Register', register_path %>
</div>
<div id="content" class="clearfix">
  <h3>Sign in</h3>

  <%= render 'form' %>

  <p>Don't have account yet? <%= link_to 'Register', register_path %>!</p>

  <%= link_to content_tag(:span, "Scroll up"), "#mainFrame", id: "contentEnd" %>
</div>